{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/stylesPanel.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

    {% block hb %}
    <div class="d-flex ms-auto">
            <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Cerrar sesión</a>
    </div>
    {% endblock %}

{% block main %}


            <section class="px-4 py-3">
                <h2>Hola, {{ nombre }}</h2>

                <div class="stats my-4">
                    <div class="stat-box">
                        <strong>{{ total_socios }}</strong>
                        <span>Socios totales</span>
                    </div>
                    <div class="stat-box">
                        <strong>{{ rec_abiertas }}</strong>
                        <span>Reclamaciones pendientes</span>
                    </div>
                    <div class="stat-box">
                        <strong>{{ cons_abiertas }}</strong>
                        <span>Consultas pendientes</span>
                    </div>
                </div>

                <div class="actions">
                    <div class="action-card">
                        <h3>Abrir reclamación</h3>
                        <p>Presentar una nueva reclamación</p>
                        <a href="{{ path('reclamacion_nueva') }}" class="btn-orange"><i class="fa-solid fa-plus"></i> Crear</a>
                    </div>
                    <div class="action-card">
                        <h3>Registrar socio</h3>
                        <p>Dar de alta un nuevo socio</p>
                        <a href="{{ path('socio_nuevo') }}" class="btn-orange"><i class="fa-solid fa-plus"></i> Registrar</a>
                    </div>
                    <div class="action-card">
                        <h3>Registrar familiar</h3>
                        <p>Dar de alta un nuevo familiar de un socio</p>
                        <a href="{{ path('familiar_nuevo') }}" class="btn-orange"><i class="fa-solid fa-plus"></i> Registrar</a>
                    </div>
                    <div class="action-card">
                        <h3>Ver reclamaciones</h3>
                        <p>Ver reclamaciones pendientes</p>
                        <a href="{{ path('reclamacion_ver') }}" class="btn-orange"><i class="fa-solid fa-eye"></i> Ver</a>
                    </div>
                    <div class="action-card">
                        <h3>Ver consultas</h3>
                        <p>Ver consultas pendientes</p>
                        <a href="{{ path('consultas_ver') }}" class="btn-orange"><i class="fa-solid fa-eye"></i> Ver</a>
                    </div>
                </div>
            </section>


{% endblock %}
