{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/stylesTables.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="dashboard-container">
        <aside class="sidebar">
            <img src="{{ asset('image/logo.png') }}" alt="Logo" class="logo">
            <ul class="menu">
                <li>
                    <a href="{{ path('admin_panel') }}">
                        <i class="fa-solid fa-gauge"></i> Panel de control
                    </a>
                </li>

                <li>
                    <a href="{{ path('socio_ver') }}">
                        <i class="fa-solid fa-users"></i> Socios
                    </a>
                </li>
                <li>
                    <a href="{{ path('cuota_ver') }}">
                        <i class="fa-solid fa-coins"></i> Cuotas
                    </a>
                </li>
                <li>
                    <a href="{{ path('consultas_ver') }}">
                        <i class="fa-solid fa-comments"></i> Consultas
                    </a>
                </li>
                <li>
                    <a href="{{ path('reclamacion_ver') }}">
                        <i class="fa-solid fa-file-lines"></i> Reclamaciones
                    </a>
                </li>
            </ul>
        </aside>

        <main class="main-panel">

            <div class="top-bar text-end">
                <a href="{{ path('admin_panel') }}" class="btn btn-outline-info me-3">Volver</a>
                <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Cerrar sesión</a>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="container my-5">

                    <h2 class="text-center mb-4">Listado de Cuotas</h2>

                    <table class="reclamaciones-table3">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Importe</th>
                            <th>Tipo</th>
                            <th>Periodicidad</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cuota in cuotas %}
                            <tr>
                                <td>{{ cuota.id }}</td>
                                <td>
                                    {{ cuota.importe }} €
                                </td>
                                <td>{{ cuota.tipo }}</td>
                                <td>{{ cuota.periodicidad }}</td>

                                <td>
                                    <a href="{{ path('cuota_editar', {id: cuota.id}) }}" class="btn-detalles"><i class="fa-solid fa-pen-to-square"></i>
                                        Editar</a>
                                    <a href="{{ path('cuota_borrar', { id: cuota.id }) }}" class="btn-detalles" onclick="return confirm('¿Estás segura de que quieres borrar esta cuota?');">
                                        <i class="fa-solid fa-trash"></i>
                                        Eliminar</a>
                                </td>
                            </tr>


                        {% else %}
                            <tr>
                                <td colspan="9" class="text-center">No hay cuotas registradas.</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="{{ path('cuota_nueva') }}" class="btn-nuevo"><i class="fa-solid fa-plus"></i>
                                    Nueva</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

        </main>
    </div>
{% endblock %}
