{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/stylesTables.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
{% endblock %}

{% block hb %}
    <div class="d-flex ms-auto">
        <a href="{{ path('admin_panel') }}" class="btn btn-outline-info me-3">Volver</a>
        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Cerrar sesión</a>
    </div>
{% endblock %}

{% block main %}
    <div class="container my-5">

        <h2 class="text-center mb-4">Listado de Socios</h2>
        <div class="tabla-scroll">
            <table class="reclamaciones-table2">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha registro</th>
                    <th>Colectivo</th>
                    <th>Nº de socio</th>
                    <th>Provincia</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for socio in socios %}
                    <tr>
                    <td>{{ socio.id }}</td>
                    <td>
                        {{ socio.nombre }}
                    </td>
                    <td>{{ socio.apellidos }}</td>
                    <td>{{ socio.fechaRegistro|date('d/m/Y') }}</td>
                    <td>{{ socio.colectivo }}</td>
                    <td>{{ socio.numSocio }}</td>
                    <td>{{ socio.provincia }}</td>

                    <td>
                        <a href="{{ path('socio_detalle', {id: socio.id}) }}" class="btn-detalles"><i
                                    class="fa-solid fa-eye"></i>
                            Detalles</a></td>

                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">No hay consultas registradas.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
